
<table>
  <tr>
    <th>Track Name</th>
    <th>Artists</th>
    <th>Album Name</th>
    <th>Images</th>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{item.track_name}}</td>
    <td>{{item.track_artists}}</td>
    <td>{{item.track_album.album_name}}</td>
    <td *ngIf="handleImage(item.track_album) !== null">
      <img src="{{ handleImage(item.track_album.image) }}" alt="image" id="img" />
    </td>

  </tr>
</table>

<!-- Path: supabase-frontend/src/app/user-data/user-data.component.ts -->

<!-- CREATE TYPE album AS (
    album_name text,
    album_type TEXT,
    num_tracks SMALLINT,
    release_date date,
    artists text[],
    upc text
);


create table played_tracks(
    play_id bigserial UNIQUE not null primary key,
    user_id UUID NOT NULL REFERENCES auth.users(id),
    track_name text not null,
    track_artists text[] not null,
    track_duration_ms int not null,
    track_album album not null,
    isrc text not null,
    listened_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    popularity smallint
); -->
